<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "ADMIND.html" %}
{% block body %}
<body>



<form action="/myapp/admin_add_floor_post/" method="post">

    {% csrf_token %}

<table width="200" border="0.1"class= "table table-borderless table-hover">
  <tr>
    <th width="200">Floor Number</th>
    <td><input type="text" name="textfield" id="textfield" class="form-control" /></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="save" />
    </div></td>
    </tr>
</table>


</form>
</body>
</html>
{% endblock %}
