<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "ADMIND.html" %}
{% block body %}
<body>
<form action="/myapp/add_direction_post/" method="post" enctype="multipart/form-data" name="form1" id="form1" >
    {% csrf_token %}
            <table class="table table-borderless table-hover" width="200" border="0.1">



  <th width="200">Shopname1</th>
      <td><select name="textfield"  CLASS="form-control"  id="textfield" required>
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.shopname }}</option>
          {% endfor %}
      </select></td>
    </tr>


    <tr>
      <th width="200">Shopname2</th>
      <td><select name="textfield1"  CLASS="form-control"  id="textfield1" required>
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.shopname }}</option>
          {% endfor %}
      </select></td>
    </tr>
       <tr>
      <th width="200">Direction</th>
      <td><input type="text" name="textfield3" id="textfield3" required/></td>
    </tr>


    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="ADD " id="ADD " value="ADD " />
      </div></td>
    </tr>
  </table>
</form>

{% endblock %}