<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
{#  <table >#}
{#    <tr>#}
{#      <td>Date_from</td>#}
{#      <td><input type="text" name="textfield" id="textfield" /></td>#}
{#      <td>to</td>#}
{#      <td><input type="text" name="textfield2" id="textfield2" /></td>#}
{#      <td><input type="submit" name="button" id="button" value="Search" /></td>#}
{#    </tr>#}
{#  </table>#}
{#  <p>&nbsp;</p>#}
{#  <p>&nbsp;</p>#}
 <table border="1">
    <tr>
      <td>Slno</td>
      <td>User_details</td>
      <td>Feedback</td>
      <!--<td>Booking_details</td>-->
      <td>Date</td>
{#      <td>Rating</td>#}
    </tr>
    <tr>

      <td></td>
      <td> </td>
       <td></td>
       <td></td>
{#      <!--<td> {{i['Booking_details']}}</td>-->#}
{#      <td>{{i['Date']}}</td>#}
{#      <td>{{i['Star']}}</td>#}

    </tr>

  </table>

</form>

</body>
{#{% endblock %}#}
</html>