<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "shopindex.html" %}
                  {% block body %}

<body>

<form action="/myapp/add_product_post/" method="post" enctype="multipart/form-data">
            <table class="table table-borderless table-hover" width="200" border="0.1">
        {% csrf_token %}

  <tr>
    <td>Prouct name</td>
    <td><input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <td>Stock</td>
    <td><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>

     <tr>
    <td>photo</td>
    <td><input type="file" name="img" id="imageField" /></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="Add product" />
    </div></td>
    </tr>
</table>
</form>
</body>
</html>

                  {% endblock %}

