<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "ADMIND.html" %}
{% block body %}
<body>
<form action="/myapp/admin_edit_shops_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
            <table class="table table-borderless table-hover" width="200" border="0.1">
    <tr>
       <th width="200">Shopname</th>
      <td><input type="hidden" name="h1" id="textfield" value="{{ data.id }}" />
    <input type="text" name="textfield" id="textfield" value="{{ data.shopname }}" /></td>
    </tr>
    <tr>
       <th width="200">Shopnumber</th>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ data.shopnumber}}"/></td>
    </tr>
    <tr>
       <th width="200">Email</th>
      <td><input type="text" name="textfield3" id="textfield3" value="{{ data.email}}" /></td>
    </tr>
    <tr>
       <th width="200">Logo</th>
      <td><input type="file" name="fileField" id="fileField" value="{{ data.logo}}"/></td>
    </tr>
    <tr>
      <th width="200">Phonenumber</th>
      <td><input type="text" name="textfield5" id="textfield5" value="{{ data.phonenumber}}" /></td>
    </tr>
    <tr>
      <th width="200">Floor</th>
      <td><select NAME="textfield6"  CLASS="form-control">
          {% for i in data2 %}
          <option value="{{ i.id }}">{{ i.floorno }}</option>
          {% endfor %}
      </select></td>
    </tr>
       <tr>
      <th width="200">Category</th>
      <td><input type="text" name="textfield7" id="textfield7" value="{{ data.Category}}" /></td>
    </tr>
              <tr>
      <th width="200">Hotspot Adress</th>
      <td><input type="text" name="textfield8" id="textfield8" value="{{ data3.hotspotaddress }}" /></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="ADD SHOP" id="ADD SHOP" value="EDIT SHOP" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}