{% extends "indd.html" %}
{% block body %}{% load static %}

<!DOCTYPE html>
<html>
<head>
<style>
/* unvisited link */
a:link {
color: blue;
}

/* visited link */
a:visited {
color: blue;
}

/* mouse over link */
a:hover {
color: blue;
}

/* selected link */
a:active {
color: blue;
}
</style>
</head>
<body>


<br><br>
{#<h2>FLOORS</h2>#}

<br><br>

{% for i in data %}

<div class="card row">
<div class="container">
<p><br><br></p>
<div class="container-fluid pb-5">
<div class="container pb-5">
<div class="row">
<h4><b>{{ i.floorno }}</b></h4>
<table>
{% for x in data2 %}

<div class="col-md-4">
<div class="d-flex mb-4 mb-lg-0">
<div class="d-flex flex-column">

{% if i.id == x.FLOOR_id %}
<th>   <a href="/myapp/view_shop_detail/{{ x.id }}#tab"><img src="{{ x.logo }}" height="200px" width="200px" ></a>
</th>
{% endif %}

</div>
</form>
</div>
</div>

{% endfor %}
</table>
</div>
{#<b><p><a href="/myapp/floor_shop/{{ i.id }}">VIEW SHOPS</a></p></b>#}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</body>
</html>

</body>
{% endblock %}




