<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form action="" method="get"><table width="426" border="1">
  <tr>
    <td width="32">SlNo</td>
    <td width="80">Productname</td>
    <td width="31">Price</td>
    <td width="61">Descption</td>
    <td width="28">Stock</td>
    <td width="30">offer</td>
    <td width="56">&nbsp;</td>
    <td width="56">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">delete</a></td>
    <td><a href="#">edit</a></td>
    
  </tr>
</table>
</form>
</body>
</html>
